doctype html
html(lang='ja', prefix="og: http://ogp.me/ns#")
  include ./partial/_head
  body
    h1 Hello!

    script(src='assets/javascripts/vendor.js')
    script(src='assets/javascripts/dog.js')
